# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Next.js
.next/
out/
.vercel

# Native build artifacts / secrets
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# test output
coverage/

# Supabase local
supabase/.branches
supabase/.temp
.env.local
