# Xcode
build/
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xcuserstate*
*.xcscheme

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# macOS junk
.DS_Store

# Generated audio
*.m4a
*.mp3
*.wav
